{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Profile{% endblock %}
{% block content %}
    <div class="page-header" style="border: none">
        <h1>Profile: {{ object.display_name }}</h1>
    </div>
    <div class="row">
        <div class="col-md-3" style="border-right: solid 1px #eee; border-top: solid 1px #eee">
            <h4 style="padding-bottom: 5px; padding-top: 5px">Personal</h4>
            <img src="http://placekitten.com/g/200/300" class="img-responsive img-rounded" alt="Responsive image">
            {% if object.public %}
                <dl class="dl" style="margin-top: 20px">
                    {% if object.fist_name or object.last_name %}
                        <dt>Name</dt>
                        <dd>{{ object.display_name }}</dd>
                    {% endif %}
                    {% if object.gender %}
                        <dt>Gender</dt>
                        <dd>{{ object.gender }}</dd>
                    {% endif %}
                    {% if object.birthday %}
                        <dt>Birthday</dt>
                        <dd>{{ object.birthday }}</dd>
                    {% endif %}
                    <dt>Date Joined</dt>
                    <dd>{{ object.date_joined }}</dd>
                    <dt>Contact</dt>
                    <dd>{{ object.email }}</dd>
                </dl>
            {% else %}
                <p>This user's information is hidden</p>
            {% endif %}

            {% if show_edit %}
                <a class="btn btn-default btn-xs" role="button" href="{% url 'core:profile:edit' %}">
                    Edit Profile
                </a>
                <a class="btn btn-default btn-xs" role="button" href="{% url 'core:profile:password_change' %}">
                    Change Password
                </a>
            {% endif %}
        </div>
        <div class="col-md-9" style="border-top: solid 1px #eee; padding-top: 5px">
            <h4>Games</h4>

            <div class="top10">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Image</th>
                        <th>Game</th>
                        <th>Description</th>
                        <th>Link</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for game in games_list %}
                        <tr>
                            <td class="text-center">
                                {% if game.image %}
                                    <img src="{{ game.image.thumbnail.url }}"
                                         class="img-responsive img-rounded"
                                         style="display: inline-block;">
                                {% else %}
                                    <i class='fa fa-gamepad fa-5x'></i>
                                {% endif %}
                            </td>
                            <td><strong class='text-capitalized'>{{ game.name }}</strong></td>
                            <td>{{ game.small_description }}</td>
                            <td>
                                <a class="btn btn-primary" href="{% url 'core:games:specific' game_id=game.pk %}">View
                                    Game</a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4">No Games Found.</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% if invite_groups %}
    <div class="row" style="border-top: solid 1px #eee; padding-top: 5px">
        <label>Invite This User to a Group</label>

        <input id="userId" type="hidden" value="{{object.id}}"/>
        <select id="groupSelect" class="form-control">
            {% for group in invite_groups %}
            <option value="{{group.id}}">{{group}}</option>
            {% endfor %}
        </select>
        <div class="top10">
        <button id="inviteBtn" class="btn btn-primary"><i class="fa fa-envelope"></i> Invite</button>
        </div>
    </div>

    {% endif %}

<script type="text/javascript" src="{% static "js/profile.js" %}"></script>
{% endblock %}
