{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="page-header">
        <h1>{{ title }}</h1>
    </div>
    {% if searching %}
      <h3 class="text-muted"><em>Results for search '{{term}}'</em></h3>
      <div class="well bloodhound top10">
        <label>Search for a game:</label>
        <p class="help-block">
        <small><em>Search will default to name search. When there are too few results, it will fallback to group and tag search.</em></small>
        </p>
        <div>
        <input class="form-control typeahead"
        type="text"
        placeholder="Enter search text"
        value={{term}}>
        <button id="searchBtn" class="btn btn-default"><i class="fa fa-search"></i></button>
        </div>
      </div>
    {% endif %}
    <div class="row text-right">
        <a href="{% url 'core:games:new' %}" class="btn btn-sm btn-success"><i class="fa fa-plus-circle fa-fw"></i>
            Upload New Game</a>
    </div>
    <div class="top10">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Image</th>
                <th>Game</th>
                <th>Description</th>
                <th>Group</th>
                <th>Link</th>
            </tr>
            </thead>
            <tbody>
            {% for game in games_list %}
                <tr>
                    <td class="text-center">
                        {% if game.image %}
                            <img src="{{ game.image.thumbnail.url }}"
                                 class="img-responsive img-rounded"
                                 style="display: inline-block;">
                        {% else %}
                            <i class='fa fa-gamepad fa-5x'></i>
                        {% endif %}
                    </td>
                    <td><strong class='text-capitalized'>{{ game.name }}</strong></td>
                    <td>{{ game.small_description }}</td>
                    <td>{{ game.group }}</td>
                    <td>
                        <a class="btn btn-primary" href="{% url 'core:games:specific' game_id=game.pk %}">View Game</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">No Games Found.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
<script type="text/javascript" src="{% static "js/typeahead.bundle.js" %}"></script>
<script type="text/javascript" src="{% static "js/search.js" %}"></script>
{% endblock %}
