{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    Edit Game
{% endblock %}

{% block head %}
    <script type="text/javascript" src="{% static "js/jquery.cookie.js" %}"></script>
{% endblock %}

{% block content %}
    {% load crispy_forms_tags %}
    {% crispy form %}
    <div>
        <button class="btn btn-danger" onclick="deleteGame()">DELETE GAME</button>
    </div>

    <div class="well top10">
        <h2 class="files-header">Current Game Files</h2>
        <ul class="list-group lead">
            {% for file in game.game_file.all %}
                <li class="list-group-item"><a href="{{file}}" download> {{file.name}}</a></li>
            {% empty %}
                <li class="list-group-item">No files found</li>
            {% endfor %}
        </ul>
    </div>

    <script>
        var csrftoken = $.cookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        function deleteGame() {
            $.ajax({
                type: 'DELETE',
                success: function (result) {
                    window.location.replace(result.url);
                },
                error: function (result) {
                    console.log('error');
                }
            })
        }
    </script>
{% endblock %}
