{% extends 'base.html' %}

{% block title %}
    Specific Game
{% endblock %}

{% block content %}
    <div class="center-block">
        <h1>{{ game.name }}</h1>
        <ul>
            <li>{{ game.link }}</li>
            <li><img src="{{ game.image.url }}" class="img-rounded"/></li>
            <li>{{ game.description }}</li>
            <li>{{ game.owner }}</li>
            <li>{{ game.date_published }}</li>
            <li>{{ game.author_name }}</li>
            <li>{{ game.event_name }}</li>
            <li>{{ game.genre }}</li>
        </ul>
    </div>
{% endblock %}