{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>

  <title>{% block title %}Specific Game{% endblock %}</title>

  {% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
  {% endblock %}

</head>
<body>
  {% block nav %}
    <a href="/"> Home </a>
    <br/> <br/> <br/>
  {% endblock %}

  {% block content %}
      Currently viewing game: {{ game_id }}
  {% endblock %}

  {% block foot %}
    <br/> <br/> <br/>
    <p>Footer</p>
  {% endblock %}
</body>