{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>

    <title>{% block title %}Games Main{% endblock %}</title>

    {% block head %}
        <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
    {% endblock %}

</head>
<body>
{% block nav %}
    <a href="/"> Home </a>
    <br/> <br/> <br/>
{% endblock %}

{% if latest_game_list %}
    <ul>
        {% for game in latest_game_list %}
            <li>
                <a href="/games/{{ game.id }}/"> {{ question.question_text }}</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No games are available</p>
{% endif %}

{% block foot %}
    <br/> <br/>
    <p>Footer</p>
{% endblock %}
</body>