{% extends 'base.html' %}
{% load staticfiles %}
{% load comments %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "css/rateit.css" %}">
    <script type="text/javascript" src="{% static "js/jquery.rateit.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.cookie.js" %}"></script>

    <script>
        var csrftoken = $.cookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });</script>
{% endblock %}

{% block title %}
    Specific Game
{% endblock %}

{% block content %}
    <a href="{% url 'core:games:main' %}">&laquo; Back To Games Page</a>
    <div class="row">

        {#### SIDEBAR ####}
        <div class="col-md-2" style="border-right: solid 1px #eee; border-top: solid 1px #eee">
            {% include "games/specific_game_sidebar.html" %}
        </div>

        {#### MAIN COLUMN ####}
        <div class="col-md-10" style="border-top: solid 1px #eee; padding-top: 10px; padding-left: 25px">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Game Description</h4>
                    </div>
                    <div class="panel-body">
                        {{ game.description }}
                    </div>
                </div>
            </div>

            <div class="row">
                {% if game.link %}
                    <strong>
                        Link:
                    </strong>
                    <a href="{{ game.link }}">
                        {{ game.link }}
                    </a>
                {% endif %}
            </div>

            <div class="row">
                <br/>
                {% if game.event_name %}
                    Brought to you by {{ game.event_name }}
                {% endif %}
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            {% render_comment_list for game %}<br>
            {% if user.is_authenticated %}
                {% render_comment_form for game %}<br>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <h3>Related Games</h3>

        <div class="well">
            <div class="row">
                {% for related_game in related_games %}
                    <div class="col-md-2 col-xs-4">
                        <div class="thumbnail" style="  height: 100%; width: 128px">
                            <img src="{{ related_game.image.thumbnail.url }}" class="img-responsive img-rounded"
                                 style="display: block;">

                            <div class="caption text-center">
                                <a href="{% url 'core:games:specific' related_game.id %}">
                                    {{ related_game.name }}</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
