{% load staticfiles %}


<div class="row">
    <div class="center-block text-center">
        <h1>{{ game.name }}</h1>
    </div>
</div>

<div class="row">
    <div class="center-block">
        {% if game.image %}
            <img src="{{ game.image.thumbnail.url }}"
                 class="img-responsive img-rounded"
                 style="display: inline-block;">
        {% else %}
            <i class='fa fa-gamepad fa-5x'></i>
        {% endif %}
    </div>
</div>

{% if game.group %}
    <div class="row">
        <div class="text-center">
            <strong>Game Authors</strong>

            <div class="text-centered">
                {% for member in game.group.members.all %}
                    <div><a href="{% url 'core:profile:user-profile' member.id %}">
                        <div style="word-wrap: break-word;">
                            {{ member.get_name }}
                        </div>
                    </a></div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}

<br>

<div class="row text-center">
    <label for="gameRating">
        Rate this game:
    </label>

    <div class="rateit custom-colors" id="gameRating" data-rateit-min="0"></div>
    (<span id="number-ratings">{{ game.total_ratings }}</span>)

</div>
<script>
    {# This script is used to pass django variables to game-ratings.js #}
    ratings_url = "{% url 'core:games:ratings' game.id %}";
    total_ratings_url = "{% url 'core:games:total_ratings' game.id %}";
    avg_rating = ({{ game.average_rating }})
</script>
<script type="text/javascript" src="{% static "js/game-ratings.js" %}"></script>

<br>

<div class="row">
    <div class="center-block text-center">
        Published {{ game.date_published }}
    </div>
</div>

{% if game.game_file %}
    <div class="row">
        <div class="center-block" style="padding-top: 10px">
        <h5> Versions</h5>
        <ul>
        {% for game in game.game_file.all %}
          <li><a href="{{ game.game_file.url }}" download> {{game.name}}</a></li>
        {% endfor %}
        </ul>
        </div>
    </div>
{% endif %}

{% if user in game.group.members.all %}

    <div class="row">
        <div class="center-block" style="padding-top: 10px">
            <a class="btn btn-default btn-xs" role="button" href="{% url 'core:games:edit' game.id %}">
                Edit Game
            </a>
        </div>
    </div>
{% endif %}

