{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="page-header">
    <h1>Log In</h1>
  </div>
  <form method="post" action="{% url 'core:login' %}" class="form-signin">{% csrf_token %}
    {{ form|crispy }}
    {# Hide the next URL in the form #}
    <input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}{% url 'core:home' %}{% endif %}"/>
    <div>
      <button type="submit" class="btn btn-primary">Login</button>
      <a class="btn btn-default" href={% url 'core:register' %}>Register</a>
    </div>
  </form>
{% endblock %}
