/* Shared styles for every page */

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.footer {
    position: absolute;
    bottom: -20px;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}

.center-block {
  display: table;
  margin: 0 auto;
}

.top10 {
  margin-top: 10px;
}

.custom-colors .rateit-selected
{
    background: url(star.gif) left -32px;
}

/* Home page styles */
.results {
  padding: 5px;
  border: 1px solid black;
  overflow: auto;
  border-radius: 5px;
}

.game-square:hover {
  background-color: #777;
}

.game-square {
  border: 2px solid white;
  height: 210px;
  text-align: center;
  background-color: #BBB;
  border-radius: 10px;
}

.game-square .text-block{
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  margin-left: -15px;
  border-radius: 5px;
}

.game-square .header {
  font-size: 30px;
  top: 0;
}
.game-square .foot {
  bottom: 0;
}

.game-square p {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.game-square img {
  z-index: -1;
  max-height: 200px;
}
